@import 'src/main/webapp/app/app';

.notification-dropdown {
  h3 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  h6 {
    font-weight: bold;
  }

  .journey-title {
    font-weight: normal;
  }
}
