@import 'src/main/webapp/app/app';

.file-grid-item {
  overflow: hidden;

  min-width: 10rem;
  width: min-content;
  max-width: 12.438rem;

  height: 12.438rem;

  color: white;

  &:nth-of-type(even):not(.image, .video, :last-of-type) {
    max-width: unset;
    flex: 1;
  }

  &:not(.image, .video) {
    background: $sby-beige-2;
    border: 0.25rem solid $sby-beige-7;
    border-radius: 1.25rem;

    padding: 0.901rem 0.985rem 1.188rem 1rem;

    .overlay {
      margin-top: -0.901rem;
      margin-left: -1rem;
    }
  }

  &.image {
    min-width: 12.438rem;
    max-width: unset;
    flex: 2;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &.video {
    min-width: 12.438rem;
    max-width: unset;
    flex: 2;

    .thumbnail-container {
      width: 100%;
      height: 100%;

      .play-icon path {
        fill-opacity: 0.75;
        fill: $sby-gray-7;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  svg path {
    fill: white;
  }

  &.word {
    background: $sby-blue-1;
    border-color: $sby-blue-3;
  }

  &.excel {
    background: $sby-green;
    border-color: $sby-green-darker;
  }

  &.pdf {
    background: $sby-danger;
    border-color: $sby-danger-darker;
  }

  &.generic {
    color: $gray-900;

    svg path {
      fill: $sby-beige-8;
    }
  }

  .overlay {
    background-color: rgba($backdrop-gray, 0.5);
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .file-type-name {
    font-size: 0.875rem;
    font-weight: bold;
  }
}
