@import 'src/main/webapp/app/app';

.notification-card {
  font-family: Roboto, sans-serif;
  background-color: $sby-beige-2;
  color: #aca9a4;
  border-radius: 0.375rem;
  height: 100%;
  width: 100%;
  padding: 0.188rem 0.395rem 0.317rem 0.593rem !important;

  .notification-count {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    line-height: 1.5rem;
  }

  .notification-card-title {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 0.75rem;
    text-align: left;
    flex: 1;
    white-space: pre-line;
  }

  &.active {
    color: white;

    &.messages {
      background-color: #5557ce;
    }

    &.overdue {
      background-color: #eb445a;
    }

    &.notifications {
      background-color: #5ebe73;
    }
  }
}
