/*
* Bootstrap overrides https://v4-alpha.getbootstrap.com/getting-started/options/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/

// Options:
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Components:
// Define common padding and border radius sizes and more.

$border-radius: 5px;
$border-radius-lg: 5px;
$border-radius-sm: 5px;

// Color system
$primary: #009b50;
$secondary: #a0a0a0;
$success: $primary;
$warning: #f78e1e;
$danger: #ff0022;
$info: #5187d8;
$light: #c4c4c4;

$gray-100: #f5f8f9;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #d7d7d7;
$gray-500: #9ca2b0;
$gray-600: #546177;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #1b1b1b;

// Typography
$headings-line-height: 1.6;
$font-size-base: 0.875rem;
$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !default;
$font-size-ellipses-default: 1rem;
$font-size-ellipses-heading: 1.5rem;

// Body:
// Settings for the `<body>` element.
$body-bg: #f6f2ea;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1135px,
  xl: 1200px,
);

// Navbar
$navbar-active-bg-color: #fcefee;
$navbar-light-active-color: #1b1b1b;
$navbar-nav-link-padding-x: 1rem;

// Tabs
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: white;

// Fields
$input-bg: #f5f7f2;
$dropdown-input-border-color: #96c8da;

// Misc
$separator-color: #e5e5e5;
$container-padding: 10px;

// Table
$table-header-color: $input-bg;

// Custom variables
$border-color: #e5e5e5;

$content-bg: #ffffff;

$inactive-tab-bg: #f7f7f7;
$inactive-tab-color: #797979;

$font-muted-color: #666666;

$icon-stroke-active-color: #f07656;
$icon-stroke-default-color: $font-muted-color;
$admin-menu-icon-fill-color: grey;
$modal-content-bg: #f4f6f8 !important;

$p-color: #7b7b7b;

// Breadcrumbs
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: quote('──');
