@import 'src/main/webapp/app/app';

.dashboard-message-card {
  border-radius: 0 0.313rem 0.313rem 0 !important;

  h5 {
    font-weight: normal;
  }

  .buttons-col {
    border-left: 0.063rem solid rgba(0, 0, 0, 0.125);
    max-width: 2.5rem !important;
  }
  .avatar-wrapper {
    max-width: max-content !important;
  }
  svg {
    width: 1.125rem;
    height: 1.125rem;
    path {
      fill: $info !important;
    }
  }
  @include card-shadow;
  &:hover {
    @include card-hover;
  }
}
