@import 'src/main/webapp/app/app';

.material-wide-card {
  cursor: pointer;
  max-height: 16.875rem;
  border-radius: $border-radius;
  flex-direction: row !important;

  @mixin material-icon-location {
    right: 0.625rem;
    top: 0.625rem;
  }

  @mixin external-material-card-icon {
    @include material-icon-location;
    background-color: #fffffff2;
    padding: 0.5rem;
  }

  .card-img-top {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
    border-bottom-left-radius: $border-radius;
  }

  .ekoolikott-material-card-icon {
    @include external-material-card-icon;
    width: 3.75rem;
    height: 3.75rem;
  }

  .opiq-material-card-icon {
    @include external-material-card-icon;
  }

  .user-material-card-icon {
    @include material-icon-location;
    width: 2.813rem;
    height: 2.813rem;
    background-color: #000000bf;
  }

  .material-sequence span {
    color: $grey;
    max-width: 2rem;
    line-height: 2rem;
    height: 2rem;
    border: 1px solid $grey;
  }

  .material-footer {
    flex-grow: 1;
  }
}

.material-card:hover {
  @include card-hover;
}
