@import 'src/main/webapp/app/app';

.lti-results .row {
  &.lti-results-heading {
    color: $sby-beige-6;
    font-weight: bold;
    font-size: 0.625rem;
  }

  &.lti-results-item {
    border-radius: 0 0.3125rem 0.3125rem 0;
    color: black;
    font-size: 0.75rem;

    &:hover {
      background: rgba($sby-beige-2, 0.5);
    }
  }
}
