@import 'src/main/webapp/app/app';

.dropdown-menu.custom-dropdown {
  border-radius: 0 $card-border-radius $card-border-radius 0;
  border: none;
  box-shadow: $card-box-shadow;
  right: 0;

  &.show {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .dropdown-item {
    font-size: 0.875rem;
    line-height: 2.25rem;
    color: $sby-gray-10;
    padding: 0 1.563rem;
  }
}
