@import 'src/main/webapp/app/app';

@include customScrollbar('.card.materials-section');
@include customScrollbar('.apps-section > .card');

.marketplace-container {
  padding-bottom: 2.688rem;

  .marketplace {
    min-height: 0;
    gap: 1rem;
    flex: 1;

    .card {
      border: none;
      box-shadow: $card-box-shadow;
      border-radius: 0 $card-border-radius $card-border-radius 0;

      h4 {
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        margin-bottom: 1rem;
      }

      &.left-side-menu {
        flex: 2;
      }

      &.chosen-materials-section {
        flex: 3;
      }
    }

    .card.materials-section,
    .apps-section > .card {
      overflow-y: auto;
      padding: 1.188rem 1rem 3.938rem 1.25rem;

      &::-webkit-scrollbar-track {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
      }

      .card.app-card-new {
        box-shadow: none;
      }
    }

    .card.materials-section,
    .apps-section {
      gap: 1.5rem;
      flex: 7;
    }

    .apps-section .card {
      max-height: 82vh;
    }
  }
}
