.select-students {
  .form-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;

    .select-all-label {
      font-weight: bold;
    }

    label {
      line-height: initial;
    }

    input[type='checkbox'],
    label {
      margin: 0;
    }

    &:not(:last-of-type) .invalid-feedback {
      display: none;
    }

    &:last-of-type {
      position: relative;
      margin-bottom: 1.5rem;

      .invalid-feedback {
        position: absolute;
        top: 1rem;
      }
    }
  }

  img {
    margin-top: -1.5rem;
  }

  .btn.btn-outline-info:not(:hover) {
    background-color: rgba(white, 0.9);
  }
}
