@import 'src/main/webapp/app/app';

.custom-modal-content.support-modal-content {
  textarea {
    min-height: 10rem;
    max-height: 50vh;
  }

  input,
  textarea {
    border: $input-border;
  }
}
