@import 'src/main/webapp/app/app';

.btn.custom-button {
  color: white;
  border-radius: 1.875rem;
  min-width: unset;
  width: fit-content;

  svg {
    margin-right: 0.5rem;
  }

  &.md {
    padding-left: 0.563rem;
    padding-right: 0.563rem;
  }

  &.sm {
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding: 2px 5px;

    svg {
      margin-right: 0.063rem;
    }
  }

  &.sharper {
    border-radius: 4px;
  }

  &.outlined {
    background-color: transparent !important;
    border: 0.063rem solid;
  }

  &.primary {
    @include button-variant($primary, $primary, rgba(100, 203, 142, 0.8), rgba(100, 203, 142, 0.8), #333, rgba(100, 203, 142, 0.8));

    svg > path {
      fill: $primary-button-icon-color;
      stroke: none;
    }

    &.outlined {
      color: $primary;
    }
  }

  &.danger {
    @include button-variant(
      $rejected-color,
      $rejected-color,
      rgba($rejected-color, 0.8),
      rgba($rejected-color, 0.8),
      #333,
      rgba(100, 203, 142, 0.8)
    );

    svg > path {
      fill: $rejected-color;
      stroke: none;
    }

    &.outlined {
      color: $rejected-color;
    }
  }

  &.secondary {
    background-color: $sby-gray-6;
    border-color: $sby-gray-6;

    svg > path {
      fill: $secondary-button-icon-color;
      stroke: none;
    }

    &.outlined {
      color: $sby-gray-6;

      svg > path {
        fill: $sby-gray-6;
        stroke: none;
      }
    }
  }

  &.cancel {
    color: $sby-gray-8;
    border: 0.063rem solid $button-border-color;
  }

  &.white {
    background-color: white;
    color: black;

    &.outlined {
      border-color: $button-border-color;
      color: white;
    }
  }
}
