@import 'src/main/webapp/app/app';

.journey-avatar {
  background-color: $sby-purple;
  border: none;

  svg {
    width: 1.25rem;
    height: 1.25rem;

    path {
      fill: white !important;
    }
  }
}
