@import 'src/main/webapp/app/app';

.feedback {
  .grade-container-new {
    .form-group {
      display: inline;
    }
  }

  .upload-camera-new,
  .upload-file-new {
    background: none;
    color: black;
    border: 0;

    &:hover {
      background: none;
    }

    &:focus {
      background: none;
    }
  }

  .form-group {
    .editor-toolbar {
      border: 0.063rem solid $border-color;
      border-bottom: none;
    }

    .CodeMirror.cm-s-easymde.CodeMirror-wrap {
      border-radius: 0;
    }
  }
}
