@import 'src/main/webapp/app/app';

@include customScrollbar('.right-side-panel');

.right-side-panel {
  top: 0;
  right: 0;
  z-index: 1031;
  width: 100vw;
  overflow-y: auto;

  .panel-title {
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  .right-side-panel {
    min-width: 25rem;
    width: 25vw;
    box-shadow: -0.063rem 0 0 $sby-beige-4;
  }
}
