@import 'src/main/webapp/app/app';

.modal-content.confirmation-content {
  border-radius: $card-border-radius;

  .modal-title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  .modal-footer {
    button {
      border: $input-border;
      border-radius: 1.875rem;
      min-width: unset;
    }

    .cancel-btn:hover {
      color: $button-border-color;
    }
  }
}
