@import 'src/main/webapp/app/app';

div.card-left {
  -ms-flex: 0 0 8.125rem;
  flex: 0 0 8.125rem;
}

.card-right .LinesEllipsis:first-letter {
  text-transform: uppercase;
}

.entity-card {
  @include card-shadow;
  &:hover {
    @include card-hover;
  }
}

.entity-card .dropdown-button {
  max-width: 1.875rem;
}

.list-footer {
  height: 100%;
  min-height: 9.875rem;
}

.entity-card.greyed-out {
  color: $secondary;

  span,
  div,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary;
  }

  path {
    fill: $secondary;
    stroke: transparent;
  }
}

.entity-card.card {
  border: 0;
  border-left: 0.313rem solid transparent;

  &.rounded {
    border-radius: 0 0.313rem 0.313rem 0 !important;
  }
}

.entity-card .subject {
  max-width: 5.625rem;
}

.entity-card .avatar {
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
}

.entity-card .avatar-container span.text-secondary {
  font-size: 1rem;
}

.entity-card .deadline {
  font-weight: bold;
}

.entity-card .entity-card-title .LinesEllipsis {
  min-height: 4.25rem;
}

.entity-card .subject-icon {
  height: 3.75rem;
}
