@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';
@import 'src/main/webapp/app/app';

/*
Container colors
 */
.journey-content {
  &.new {
    flex-grow: 1;
    @include customScrollbar('.lists.new', 0.625rem, $sby-beige-3, $sby-beige-3, 1, transparent, 1.25rem);

    display: flex;
    flex-direction: column;

    .milestones {
      flex-direction: column;
      display: flex;
      flex-grow: 1;

      .ui {
        flex-grow: 1;
      }
    }
  }

  .lists.new {
    overflow-y: hidden;

    .new {
      &.text-green {
        color: $complete-color-new;
      }

      &.text-blue {
        color: $not-started-color-new;
      }

      &.text-orange {
        color: $sby-orange;
      }

      &.text-red {
        color: $rejected-color;
      }

      &.text-black {
        color: $black;
      }

      &.bg-green {
        background-color: $complete-color-new;
      }

      &.bg-blue {
        background-color: $not-started-color-new;
      }

      &.bg-orange {
        background-color: $sby-orange;
      }

      &.bg-red {
        background-color: $rejected-color;
      }

      &.bg-black {
        background-color: $black;
      }
    }
  }

  .add-milestone {
    color: $sby-gray-4;
    font-weight: bold;
    font-size: 1.125rem;
    height: 6.063rem;
  }

  .add-task {
    color: $sby-gray-4;
    font-size: 0.8125rem;
    height: 2.8125rem;
  }

  .add-milestone .add-milestone-link {
    height: 100%;
    display: block;
  }

  .add-milestone-placeholder {
    height: 7.813rem;
    background: white;
    opacity: 0.5;
    border-radius: 0 0.3125rem 0.3125rem 0;
  }
}

@include paddingBottomForMobileNav('.journey-content.new.mobile-nav-enabled');

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .journey-content.new.mobile-nav-enabled {
    .ui {
      height: calc(100vh - (50px) - (90px) - (5.8rem));
    }
  }
}
