@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';
@import 'src/main/webapp/app/app';

@mixin milestoneScrollbar($element, $hoverColor) {
  @include customScrollbar($element, 5px, $white, $hoverColor, 0.7);
  #{$element}::-webkit-scrollbar-thumb {
    border-right: 2px solid transparent;
    background-clip: padding-box;
  }
}

.journey-content {
  .milestone-dates {
    font-size: $small-text-size;
    font-weight: 500;
    text-align: center;
    color: $white;
    height: 40px;
    position: relative;
  }

  hr {
    margin-top: 5px;
    border-top: 1px solid $border-color;
    position: absolute;
    left: 0;
    width: 100%;
  }

  .row {
    text-align: center;
  }

  .ui {
    height: calc(100vh - (#{$header-height}) - (#{$heading-height}));
    display: grid;

    grid-template-rows: $appbar-height $navbar-height 1fr;
    background-color: $board-bg-color;
    color: #eee;
  }

  .lists {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;

    > * {
      flex: 0 0 auto; // 'rigid' lists
      margin-left: $gap;
    }

    &::after {
      content: '';
      flex: 0 0 $gap;
    }
  }

  // Made this global and not contained within a list so the styles would persist when it is being moved
  .list-item {
    background-color: $content-bg;
    list-style: none;
    padding: $gap;

    &:not(:last-child) {
      margin-bottom: $gap;
    }

    border-radius: $border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    &.is-moving {
      transform: rotate(5deg);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .list {
    width: $list-width;

    &.old {
      height: 100%;
    }

    > * {
      padding: 0;
    }

    &.scrollbar-green {
      @include milestoneScrollbar('.assignment-list', $complete-color);
    }

    &.scrollbar-blue {
      @include milestoneScrollbar('.assignment-list', $not-started-color);
    }

    &.scrollbar-orange {
      @include milestoneScrollbar('.assignment-list', $in-progress-color);
    }

    &.scrollbar-red {
      @include milestoneScrollbar('.assignment-list', $rejected-color);
    }

    &.scrollbar-black {
      @include milestoneScrollbar('.assignment-list', $failed-color);
    }

    .content-wrapper {
      opacity: 1;
      display: block;
      height: calc(100% - 45px);
      width: 100%;
    }

    .content-wrapper.completed {
      opacity: 0.5;
    }

    ul {
      padding: 5px;

      > .list-footer,
      li {
        margin-top: 5px;
      }

      > li {
        background-color: $white;
        border-radius: $border-radius;
      }

      > li:empty {
        background-color: transparent;
      }

      .list-footer footer {
        border: none;
        color: $font-muted-color;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: none;

        &:hover {
          background-color: $white-light;
        }
      }
    }

    .milestone-footer {
      height: $milestone-container-height;
      margin-top: 2.45rem;
    }

    footer {
      line-height: $list-footer-height;
    }

    ul {
      list-style: none;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .lists::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* Track */
  .lists::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  .lists::-webkit-scrollbar-thumb {
    background-color: rgba($secondary, 0.5);
    border-radius: 10px;
  }

  /* Handle on hover */
  .lists::-webkit-scrollbar-thumb:hover {
    background: $info;
  }

  /*
  Lines behind containers
   */
  .lists {
    .vertical-line {
      height: 20px;
      position: absolute;
      width: 2px;
      margin: auto;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .vertical-pointer {
      width: fit-content;
      padding: 5px 10px 5px 10px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }

    .vertical-line:nth-of-type(1) {
      height: 15px;
    }

    .line-holder {
      position: relative;
    }

    .left-line {
      height: 2px;
      margin-top: 14px;
      width: $line-width;
      position: absolute;
      right: 50%;
    }

    .list:nth-last-child(2) .extended {
      left: -55%;
      min-width: $line-width + $line-width + ($line-width / 2);
    }

    .list:nth-last-child(1) .left-line {
      left: -55%;
      min-width: $line-width + ($line-width / 2);
    }

    .bg-green {
      background-color: $complete-color;
    }

    .bg-blue {
      background-color: $not-started-color;
    }

    .bg-orange {
      background-color: $in-progress-color;
    }

    .bg-red {
      background-color: $rejected-color;
    }

    .bg-black {
      background-color: $failed-color;
    }

    .light-bg-green {
      background-color: $complete-color-lightest;
    }

    .light-bg-blue {
      background-color: $white;
    }

    .light-bg-orange {
      background-color: $in-progress-color-lightest;
    }

    .light-bg-red {
      background-color: $rejected-color-lightest;
    }

    .light-bg-black {
      background-color: $failed-color-lightest;
    }

    .medium-bg-green {
      background-color: $complete-color-light;
    }

    .medium-bg-blue {
      background-color: $not-started-color-light;
    }

    .medium-bg-orange {
      background-color: $in-progress-color-light;
    }

    .medium-bg-red {
      background-color: $rejected-color-light;
    }

    .medium-bg-black {
      background-color: $failed-color-light;
    }

    .transparent-bg-green {
      background-color: $background-color;
      border: 1px solid $complete-color;
      color: $complete-color;
    }

    .transparent-bg-blue {
      background-color: $background-color;
      border: 1px solid $not-started-color;
      color: $not-started-color;
    }

    .transparent-bg-orange {
      background-color: $background-color;
      border: 1px solid $in-progress-color;
      color: $in-progress-color;
    }

    .transparent-bg-red {
      background-color: $background-color;
      border: 1px solid $rejected-color;
      color: $rejected-color;
    }

    .transparent-bg-black {
      background-color: $background-color;
      border: 1px solid $failed-color;
      color: $failed-color;
    }
  }

  /*
  Container colors
   */
  .lists {
    .border-green {
      border-top: 4px solid $complete-color;
    }

    .border-blue {
      border-top: 4px solid $not-started-color;
    }

    .border-orange {
      border-top: 4px solid $in-progress-color;
    }

    .border-red {
      border-top: 4px solid $rejected-color;
    }

    .border-black {
      border-top: 4px solid $failed-color;
    }

    .text-green {
      color: $complete-color;
    }

    .text-blue {
      color: $not-started-color;
    }

    .text-orange {
      color: $in-progress-color;
    }

    .text-dark {
      color: $gray-900;
    }

    .text-red {
      color: $rejected-color;
    }
  }

  @media screen and (max-width: 400px) {
    .list {
      width: 280px;
    }
  }

  .list-footer {
    height: initial;
    min-height: initial;
  }
}
