@import 'src/main/webapp/app/app';

.camera-modal .modal-content {
  padding: 0.5rem;

  h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    margin: 1.5rem 0;
  }

  .uppy-Webcam-videoContainer {
    width: 100%;
    height: 100%;

    video.uppy-Webcam-video {
      width: inherit;
      height: inherit;
    }
  }

  button.btn-primary {
    width: auto;
    margin-left: unset;
  }

  .uppy-Webcam-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  .uppy-Webcam-button--picture::after {
    content: '';
    background-image: url(/content/images/camera-icon.svg);
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: center;
  }

  .uppy-Webcam-button--picture {
    background: $green;

    > svg {
      display: none;
    }
  }

  .uppy-Webcam-button--video {
    border: 0.125rem solid $danger;
    margin-left: 1rem;

    svg {
      margin: 0;
      width: 5rem;
      height: 5rem;

      circle {
        fill: $danger;
      }

      rect {
        fill: $grey;
      }
    }
  }

  .uppy-Webcam-footer {
    position: absolute;
    width: 100%;
  }

  .camera-upload-statusbar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .uppy-Webcam-buttonContainer,
  .modal-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .uppy-Webcam-buttonContainer {
    margin-top: 2.5rem;
  }

  .button-container {
    max-width: unset;
    width: auto;
  }
}

.uppy-Webcam-videoSourceContainer {
  margin: 0.875rem 0 0.3125rem 0;
  position: absolute;
  top: 6.25rem;
  width: 200%;
}

.uppy-Webcam-permissons {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 50rem) {
  .camera-modal .modal-content {
    .border-wrapper {
      padding: 2rem 2rem;
    }
  }

  .uppy-Webcam-footer {
    width: auto;
    position: initial;
    display: inline-block;
    max-width: 40%;

    .uppy-Webcam-buttonContainer {
      justify-content: start;
    }
  }
}

.start-recording-button,
.stop-recording-button,
.take-picture-button,
.maximize-button,
.minimize-button,
.toggle-facing-mode-button,
.close-button {
  padding: 1rem;
  width: 3.875rem;
  height: 3.875rem;
  border: 0;
  border-radius: 50%;

  &:hover {
    opacity: 0.8;
  }
}

.take-picture-button {
  background-color: $primary;
}

.start-recording-button,
.stop-recording-button {
  border: 0.1875rem solid $danger;
}

.start-recording-button {
  padding: 0.5rem;
}

.stop-recording-button {
  padding: 0.75rem;
}

.toggle-facing-mode-button {
  background-color: $info;

  &:disabled {
    background-color: $light-grey;
    opacity: 0.7;
  }
}

.maximize-button,
.minimize-button,
.close-button {
  color: white;
  background: $grey;
  font-size: 1.25rem;
}
