@import 'src/main/webapp/app/app';

$text-size: 0.75rem;
$plus-icon-size: 2rem;

.submit-footer {
  footer {
    position: fixed;
    height: $submit-footer-height;
    bottom: 0;
    margin-top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
    background-color: $background-color;
    border-top: 1px solid $separator-color;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
    opacity: 0.8;

    button {
      position: relative;
      float: right;
      opacity: 1;
    }
  }
}
