@import 'src/main/webapp/app/app';

.custom-modal.modal-dialog .custom-modal-content.modal-content {
  border-radius: $card-border-radius;
  border: none;
  padding: 1rem;

  .modal-title {
    font-family: Montserrat, 'sans-serif';
    font-weight: bold;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;

    button {
      border: $input-border;
      border-radius: 1.875rem;
      min-width: unset;
    }

    button.btn-secondary {
      border: 0.063rem solid $button-border-color;
      background: none;
      color: $sby-gray-8;

      &:hover {
        color: $button-border-color;
      }
    }
  }
}
