@import 'src/main/webapp/app/app';

.tab-item-new {
  list-style: none;

  .tab-title.attention {
    font-weight: bold;
    color: $sby-danger;
  }

  .attention-icon {
    // Applys only for apps tab, other % needed for other tabs
    right: -40%;
  }

  a.nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &.active {
    a.nav-link {
      font-weight: bold;
      padding: 0;
    }

    .activity-indicator {
      width: 100%;
      border-top: 0.188rem solid $primary;
      margin: 0;
      z-index: 1;
    }

    &.mobile {
      .activity-indicator {
        top: 0;
      }
    }
  }
}
