@import 'src/main/webapp/app/app';

@include customScrollbar('.assessment-rubric-view form', 0.625rem, $sby-beige-3, $sby-beige-3);

.assessment-rubric-view {
  min-height: $full-height;

  .assessment-rubric-heading {
    .heading-container {
      padding-top: 0 !important;
      align-items: center;
    }

    .breadcrumbs-container {
      display: none;
    }
  }

  .content-container {
    padding-bottom: 4.1875rem;

    form {
      overflow-y: auto;
    }

    footer {
      bottom: 0;
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;
    }
  }
}
