@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';

.milestone-new {
  padding: $container-padding + 5px $container-padding + 2px;
  font-size: $font-size-ellipses-default;
  position: relative;

  @include visibilityTransitionOnChild('.dropdown');

  .milestone-title {
    font-size: 1.125rem;
    color: $black;
    font-weight: 500;
    line-height: 2rem;
    word-break: break-word;

    .ellipsis {
      flex-grow: 1;
      flex-basis: 80%;
    }
  }

  .milestone-dropdown {
    position: absolute;
    top: 0.9375rem;
    right: 0.3125rem;
  }

  .description {
    font-size: $font-size-base;
    line-height: 18px;
    margin: 0;
    min-height: 5rem;
    max-height: 5.5rem;
    overflow: hidden;
    color: $secondary;
    word-break: break-word;
  }

  .milestone-end-date {
    font-size: 0.75rem;
    color: $sby-gray-5;

    svg {
      margin-bottom: 2px;
    }

    ellipse {
      display: none;
    }
  }

  .deadline-icon {
    width: 1.25rem;
    height: 1.1875rem;
  }
}
