@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';

.milestone {
  background-color: $content-bg;
  padding: $container-padding + 5px;
  font-size: $font-size-ellipses-default;
  position: relative;
  cursor: pointer;
  border-radius: 5px 5px 0 0;

  .btn {
    padding: 5px;
  }

  .milestone-title {
    font-size: $font-size-ellipses-heading;
    color: $black;
    font-weight: 500;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    word-break: break-word;
  }

  .milestone-dropdown {
    position: absolute;
    top: 15px;
    right: 5px;
  }

  .description {
    font-size: $font-size-base;
    line-height: 18px;
    margin: 0;
    min-height: 5rem;
    max-height: 5.5rem;
    overflow: hidden;
    color: $secondary;
    word-break: break-word;
  }
}
