@import '../../../app';

$text-size: 0.75rem;
$plus-icon-size: 2rem;

.list-footer {
  cursor: pointer;
  footer {
    border: 1px solid $separator-color;
    border-radius: $border-radius;
    color: $secondary;
    text-align: center;
    font-size: $text-size;
    line-height: 30px;
    font-weight: 500;
    padding: $container-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000005;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);

    .plus-icon {
      font-size: $plus-icon-size;
    }
  }
}

.list-footer footer:hover {
  background-color: $white-light;
}
