@import 'src/main/webapp/app/app';

.app-card-new-container {
  .card-lti-warning {
    left: 0.938rem;
    top: 0;
  }

  .card.app-card-new {
    height: 100%;
    border: none;
    border-radius: unset;
    box-shadow: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 7.5rem;
      object-fit: contain;
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
      line-height: 0.875rem;
    }

    p {
      font-size: 0.813rem;
      line-height: 1rem;
    }

    h3,
    p {
      color: $sby-gray-10;
    }
  }
}
