@import 'src/main/webapp/app/app';

$chat-title: 3.75rem;

@include customScrollbar('.conversations-list');

.conversations-view {
  min-height: $full-height;

  .breadcrumbs-container {
    display: none;
  }

  .conversations-heading .heading-container {
    padding-top: 0 !important;
    align-items: center;
  }

  .conversation-title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
  }

  h3 {
    font-weight: normal;
  }

  .conversations-body {
    .chats {
      max-height: 36rem;

      .chat-selections {
        max-height: 18rem;
      }
    }

    .chat-title {
      height: $chat-title;
    }

    .conversations-list {
      overflow-y: auto;
      height: calc(100% - (#{$chat-title}));
    }

    .conversation {
      overflow-y: auto;
      height: 76vh;

      .message-wrap {
        width: fit-content;
        position: relative;

        &.position-right {
          margin-left: auto;
          margin-right: 0;
        }

        &.position-left {
          margin-left: 0;
          margin-right: auto;
        }

        .message-avatar {
          position: absolute;
          top: 0;

          &.position-right {
            right: 0;
          }

          &.position-left {
            left: 0;
          }
        }

        .message {
          border-width: medium !important;
          background-color: $content-bg;
          border-radius: 0 0.9375rem 0.9375rem 0.9375rem;

          &.message-owner {
            border-radius: 0.9375rem 0 0.9375rem 0.9375rem;
          }

          * {
            margin: 0;
            word-break: break-word;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: row;
      background-color: $content-bg;
      border: 0.0625rem solid grey;
      padding: 0.3125rem;
      border-radius: 3.125rem;
    }

    input {
      flex-grow: 2;
      margin-left: 0.625rem;
      height: 2.8125rem;
      border: none;
      min-width: 1.875rem;
      font-size: 1.125rem;
    }

    input:focus {
      outline: none;
    }

    button {
      background: $sby-green-transparent-2;
      border: none;
      border-radius: 3.125rem;
      padding: 0.625rem 2.5rem 0.625rem 2.5rem;
      color: black;
      font-size: 1rem;
      font-weight: normal;

      &:focus {
        outline: none;
      }

      &:hover {
        background: $sby-green-transparent-1;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .conversations-view .conversations-body {
    .chats {
      max-height: calc(100vh - 6.5625rem);
      height: inherit;

      .conversations-list {
        overflow-y: auto;
        height: calc(100% - (#{$chat-title}));
      }

      .chat-selections {
        height: 50%;
        max-height: initial;
      }
    }

    .conversation {
      height: calc(100vh - (#{$header-height}) - (#{$heading-height}) - 7.5rem);
      padding: 0 3rem;

      .message-wrap {
        max-width: 70%;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .conversations-heading {
    border-right: 0.0625rem solid $sby-gray-3;
  }
}
