@import 'src/main/webapp/app/app';

.grade-sheet-wrapper {
  .grade-sheet-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    tbody {
      display: table;
      width: 100%;
    }

    tr {
      td {
        vertical-align: middle;
        font-weight: normal;

        &:hover {
          cursor: default;
        }

        .average-grade {
          padding: 5px 10px;
          width: fit-content;
          text-align: center;
          vertical-align: middle;
        }
      }

      &:first-child {
        td {
          border-top: none;
        }
      }
    }

    .light-danger-bg {
      background-color: $rejected-color-lightest;
    }
  }
}

@include paddingBottomForMobileNav('.grade-sheet-wrapper');
