@import 'src/main/webapp/app/app';

@include customScrollbar('.content-container', 0.625rem, $sby-beige-3, $sby-beige-3, 1, transparent, 1.25rem);

.content-container {
  display: flex;
  flex-direction: column;
  height: $full-height;

  overflow-y: auto;

  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 1.875rem;
  padding-left: 15px;
  padding-right: 15px;
}
