@import 'src/main/webapp/app/app';

.terms-modal .modal-content {
  padding: 1.875rem;
  transition: opacity 250ms ease;
  max-width: 21.875rem;

  .btn {
    width: 100%;
    margin: 0.9375rem 0 0;
  }
}
