@import 'src/main/webapp/app/app';

.welcome-modal {
  .journey-image {
    img {
      max-height: 25rem;
      width: auto;
      max-width: 100%;
    }
  }
  .educational-level {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .alignment {
    max-width: 15rem;
    text-align: center;
  }
  .description {
    img {
      max-width: 100%;
    }
  }
}
