@import 'src/main/webapp/app/journey/journey-detail/journey-detail-variables';

.assignment {
  color: $secondary;
  list-style: none;
  position: relative;
  padding: $container-padding;
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .btn {
    padding: 0 0 5px 0;
  }

  &.is-moving {
    transform: rotate(5deg);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .assignment-title {
    color: $font-muted-color;
    width: 100%;
    font-size: $font-size-ellipses-default;
    line-height: 22px;
    cursor: pointer;
    padding-bottom: 20px;
  }

  .assignment-footer {
    font-size: $small-text-size;
    bottom: 0;
    width: 100%;

    svg {
      margin-right: calc((#{$gap / 2}));
    }

    svg.calendar-icon {
      margin-right: 0;
    }

    .exclamation-circle {
      margin-right: 3px;
    }
  }
}

.assignment-list {
  .form-group {
    display: inline;
  }
}

.deadline-modal {
  &.modal-dialog {
    max-width: 25rem;
  }

  .modal-body div.react-datepicker-popper {
    position: relative !important;
    margin-top: 0 !important;
    transform: none !important;
    display: flex !important;
    justify-content: center !important;
  }

  .react-datepicker__triangle {
    display: none;
  }
}

.calendar-icon:hover {
  cursor: pointer;
}

.assignment-list {
  .react-datepicker-wrapper {
    width: 0;
  }

  .react-datepicker {
    left: -38px;
  }

  .form-group {
    display: inline;
    position: absolute !important;
  }
}
