.camera-modal-mobile {
  height: 100vh;
  margin: 0 !important;

  .modal-content {
    height: 100vh;
    padding: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;

    .modal-body div {
      margin: 0;
      height: 100%;

      .mobile-modal-header {
        position: fixed;
        text-align: center;
        padding: 1rem;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 2;
        background-color: white;
        opacity: 70%;
        width: 100%;
      }

      .icon-wrapper {
        height: max-content;
      }

      .camera-container {
        .camera {
          video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-height: 100%;
            height: 100vh;
          }
        }

        .buttons {
          padding: 0 !important;
          z-index: 2;
          position: fixed;
          bottom: 0;
          margin-bottom: 2rem;
        }
      }

      .camera-upload-statusbar {
        display: none;
      }
    }
  }
}
