@import 'src/main/webapp/app/app';

.criterion-level {
  border-radius: 0.625rem;
  border: 0.125rem solid $sby-beige-2;
  background: $sby-beige-2;
  min-width: 14rem;
  width: 14vw;

  &.green {
    border-color: $success;
  }

  &.yellow {
    border-color: $warning;
  }

  &.red {
    border-color: $danger;
  }

  h6 {
    &.criterion-level-points {
      background-color: $sby-beige-8;
      border-radius: 6.25rem;
      color: white;
      display: inline-block;
      padding: 0.3rem 0.7rem;
      line-height: 1.25rem;
    }

    &.criterion-level-title {
      font-weight: 600;
    }
  }

  p {
    color: $sby-gray-13;
  }

  .radio-button {
    display: flex;
    margin-left: auto;
    position: relative;

    input {
      opacity: 0;
      outline: 0.25rem;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      z-index: 1;
    }

    .radio-control {
      position: absolute;
      display: grid;
      place-items: center;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 0.0625rem solid $grey;
      background-color: white;
    }

    input + .radio-control::before {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      transition: 180ms transform ease-in-out;
      transform: scale(0);
    }

    input:checked + .radio-control::before {
      transform: scale(1);
    }
  }

  .radio-button .radio-control {
    border: 0.0625rem solid $sby-blue-2;
  }

  input + .radio-control::before {
    box-shadow: inset 1.5rem 1.5rem $sby-blue-2;
  }

  textarea {
    resize: none;
  }
}
