@import 'src/main/webapp/app/app';

.submissions-content {
  h5 {
    font-weight: bold;
    font-size: 1.125rem;
  }

  .students-list {
    flex: 3;
  }

  .student-uploads {
    flex: 6;
  }

  @include customScrollbar('.submissions-content-right', 0.625rem, $sby-beige-3, $sby-beige-3);

  .submissions-content-right {
    max-height: 80vh;
    overflow: auto;
  }
}
