@import 'src/main/webapp/app/app';

/*
JOURNEY DETAIL VIEW
 */

/* Some Sass variables */
// Layout
$appbar-height: 0;
$navbar-height: 0;
$list-width: 20rem;
$gap: 1.25rem;
$scrollbar-thickness: 0.625rem;
$list-header-height: 2.25rem;
$list-footer-height: 1.375rem;
$milestone-container-height: 12.5rem;
$line-width: $list-width + $gap;

// Colors
$board-bg-color: transparent;
$appbar-bg-color: transparent;

// Text
$small-text-size: 0.75rem;
