@import 'src/main/webapp/app/app';

.lti-content-modal {
  min-width: 90%;

  .modal-content.custom-modal-content .modal-body {
    h2 {
      font-family: Montserrat, sans-serif;
    }

    h6 {
      color: $input-label-color;
      font-weight: normal;
      margin-bottom: 0.25rem;
    }
  }
}
