@import 'src/main/webapp/app/app';

.card.materials-section {
  .sub-section {
    .content {
      position: relative;
      min-height: 12.625rem;

      .spinner {
        position: static;
        transform: unset;
      }
    }

    &.rest .content {
      display: grid;
      grid-gap: 0.5rem 1.5rem;
      grid-template-columns: 1fr 1fr;
    }

    &.popular .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
    }

    .content .material-card-new {
      min-width: 0;
    }

    .content .no-content img {
      max-height: 10rem;
    }
  }
}
