@import 'src/main/webapp/app/app';

.d3-chart {
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.07));
}

.d3-chart:hover {
  cursor: default;
  top: 0;
  left: 0;
  box-shadow: none;
}

.d3-chart .svg-container {
  overflow-x: scroll;

  svg {
    min-width: 100%;
  }
}

@include customScrollbar('.d3-chart .svg-container');
