@import 'src/main/webapp/app/app';

.app-registration-modal {
  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  .modal-footer {
    border: 0;
  }

  button {
    text-transform: uppercase;
  }
}
