@import 'src/main/webapp/app/app';

.chosen-materials-section {
  padding: 1.563rem 1.188rem 1.563rem 1.563rem;
  max-height: 100%;
  align-self: flex-start;

  @include customScrollbar('.chosen-materials-list');

  .chosen-materials-list {
    gap: 0.5rem;
    overflow-y: auto;
    margin-right: -1.188rem;
    padding-right: 1.188rem;
  }

  .buttons-container {
    gap: 0.25rem;
  }
}
