@import 'src/main/webapp/app/app';

.content-card {
  border-radius: 0 0.3125rem 0.3125rem 0;
  box-shadow: $card-box-shadow;

  .card-title {
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
  }
}
