@import 'src/main/webapp/app/app';

$active-bg-color: #fff4e0;

.list-box-wrapper {
  padding: $container-padding;
  cursor: pointer;
  span {
    color: $p-color;
    font-weight: normal;
  }
  .bg-white {
    background-color: white;
    color: $p-color;
  }
  .icon-wrapper {
    margin-right: 0;
    margin-left: auto;
  }
}

.list-box-wrapper:hover {
  background-color: $active-bg-color;
  transition: background-color 0.3s;

  .bg-white {
    background-color: $body-bg;
    transition: background-color 0.3s;
  }
}
.selected {
  background-color: $active-bg-color;
  transition: background-color 0.3s;

  .bg-white {
    background-color: $body-bg;
    transition: background-color 0.3s;
  }
}
