@import 'src/main/webapp/app/app';

.cookie-consent {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: white;
  height: auto !important;
  padding: 1.875rem;
  text-align: center;
  transition: opacity 250ms ease;
  border-top: 0.0625rem solid $sby-beige-5;
  border-radius: $card-border-radius $card-border-radius 0 0;

  @include media-breakpoint-up(md) {
    left: auto;
    right: 1.25rem;
    bottom: 1.25rem !important;
    max-width: 21.875rem;
    border: 0.0625rem solid $sby-beige-5;
    border-radius: $card-border-radius;
  }

  .btn {
    width: 100%;
    margin: 0.9375rem 0 0;
  }
}
