.mobile-menu-more-options {
  bottom: 0;

  .mobile-menu-more-options-content {
    width: 100vw;
    min-height: 3rem;
    border: none;
    border-radius: 0.625rem 0.625rem 0 0;

    .menu-option {
      padding: 0.75rem 0;
    }
  }
}
