@import 'src/main/webapp/app/app';

@include customScrollbar('.student-solution', 0.625rem, $sby-beige-3, $sby-beige-3);

.student-solution {
  overflow-y: auto;
  max-height: 80vh;

  &::-webkit-scrollbar-track {
    margin-bottom: 1.5rem;
  }

  .no-submission {
    img {
      max-height: 40vh;
    }
  }

  .select-student,
  .no-submission {
    max-height: 60vh;

    img {
      min-height: 0;
    }
  }
}
