<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.support.title(${messageTitle})}">Schoolaby support</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="https://app.schoolaby.com/favicon.ico"/>
</head>
<body>
<p th:text="#{email.support.greeting}">
    Hello
</p>
<p th:text="#{email.support.confirmationText(${messageTitle})}">
    Thank you for your message! We have received it and will get back to you as soon as possible. Below is a copy of
    your message:
</p>
<p>
    <em th:text="${message}">Message</em>
</p>
<p th:text="#{email.signature}">Schoolaby team</p>
<img th:src="@{|${baseUrl}/content/images/logo_bg_white.png|}" th:alt="#{email.support.logoAltText}"/>
</body>
</html>
