@import 'src/main/webapp/app/app';

.group-search-dropdown {
  @include search-dropdown;
  padding-bottom: 0;
  max-width: 26rem;
  line-height: 1;

  .dropdown-option:hover {
    background-color: rgba(81, 135, 216, 0.3);
  }
}
