@import 'src/main/webapp/app/app';

.main-slider {
  .slick-slide > div {
    height: inherit;
  }

  .slide-container {
    height: inherit;
  }

  .slide-preview {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    height: 80vh;
    width: 100%;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  video {
    background-color: black;
  }

  .slick-active {
    z-index: 10;
  }
}

.nav-slider {
  margin-top: 1rem;

  .file-name {
    color: $gray-900;
  }

  .slide-container {
    padding-right: 25px;
    max-height: 20vh;
    text-align: center;
  }

  .slide-preview,
  .file-name,
  .slide-name {
    text-align: center;
    justify-content: center;
  }

  .slide-container:hover {
    cursor: pointer;
  }

  img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: $border-radius;
  }

  .slick-list {
    margin-right: -13px;
  }

  .slick-prev::before,
  .slick-next::before {
    display: none;
  }

  .slick-prev,
  .slick-next {
    top: 34%;
  }

  .slick-next {
    right: -40px;
  }

  .slick-prev {
    left: -40px;
  }

  .file-name {
    word-break: break-all;
    font-size: 0.8rem;
  }

  .slide-name {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .slide-preview {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.base-modal.file-preview-modal {
  max-width: 1280px !important;
  min-width: 80% !important;

  h1 {
    font-size: 2.5vh;
  }

  .modal-footer {
    border-top: 0;
  }

  .btn-secondary {
    background: transparent;
  }

  .modal-content {
    padding: 1rem 4rem;

    .slides {
      min-height: 70vh;
    }
  }

  .button-container {
    button {
      text-transform: uppercase;
    }

    .btn-secondary:hover {
      background-color: #8d8d8d;
    }
  }
}

@media screen and (max-width: 800px) {
  .file-preview-modal .modal-content {
    padding: 30px 60px;

    .main-slider .slide-preview {
      max-height: 55vh;
    }
  }
}

@media screen and (max-width: 600px) {
  .file-preview-modal .modal-content {
    padding: 5px 10px;
  }

  .slick-arrow {
    display: none;
  }
}
