@import 'src/main/webapp/app/app';

.file-dropzone {
  min-height: 200px;
  border: 2px dashed $success;

  .placeholder {
    font-size: 20px;
  }

  .file-dropzone-content {
    margin-top: 40px;

    .camera-container {
      .camera video {
        height: auto;
        width: 100%;
      }
      .buttons .row {
        width: 100%;
      }
    }
  }
}

.file-dropzone-content-new {
  background: $sby-beige-1;
}

.uppy-is-drag-over .file-dropzone {
  border: 2px dashed #bbb;
  background-color: rgba(234, 234, 234, 0.5);

  div {
    opacity: 0.8;
  }
}

.upload-camera-new,
.upload-file-new {
  background: none !important;
  color: black !important;
  border: 0 !important;

  &:hover {
    background: none !important;
  }
}

.dropzone-new {
  border: 0.063rem dashed $sby-beige-3;
  min-height: 100px;
}
