@import 'src/main/webapp/app/app';

.material-picture-new {
  min-height: 5rem;
  max-height: 23rem;
  overflow: hidden;

  img {
    width: auto;
    object-fit: cover;
  }

  .upload-container {
    .upload-button {
      right: 0.938rem;
      bottom: 0.938rem;

      label {
        margin: 0;
        border-radius: 1.875rem;
        box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
      }

      input[type='file'] {
        display: none;
      }
    }
  }
}
