@import '../../../_bootstrap-variables.scss';
@import 'src/main/webapp/app/app';

.breadcrumb-item + .breadcrumb-item::before {
  margin-left: -1.3rem;
  position: absolute;
  color: $separator-color !important;
  z-index: -1;
}

.breadcrumbs-new {
  .breadcrumb span {
    li:first-child a {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0 !important;
    }
  }

  ol.breadcrumb {
    padding: 0;
  }

  .breadcrumb-item {
    background: $white;
    height: 1.5rem;
    border-radius: 0.8125rem !important;
    border: 0 !important;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.active {
      background: $sby-gray-6;
      border: 0 !important;

      a {
        color: $white !important;
      }
    }

    &::before {
      width: 1.3125rem;
      overflow: hidden;
      padding-left: 0.3125rem;
      padding-right: 0;
      z-index: 0;
      color: $sby-gray-7 !important;
    }
  }
}

.breadcrumb-item {
  background: $background-color;
  color: $secondary;
  height: 1.4rem;

  a {
    font-size: 12px;
  }
}

.breadcrumb-item.active {
  background: $content-bg;
  border: 1px solid $info !important;

  a {
    color: $info !important;
  }
}

.breadcrumb.breadcrumb {
  padding: 0.4rem 0.4rem 0.4rem 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  span {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
  }
}
