@import 'src/main/webapp/app/app';

.unread-notification-count {
  font-weight: bold;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  line-height: 0.688rem;
  background-color: $icon-stroke-active-color;
  border-radius: 6.25rem;
  color: white;
  text-align: center;
  font-size: 0.625rem;
  height: 0.938rem;
  letter-spacing: 0;
  border: 0.125rem solid $icon-stroke-active-color;
  min-width: 1.5rem;

  &.no-unread {
    background-color: $notification-grey;
    border-color: $notification-grey;
  }
}
