@import 'src/main/webapp/app/app';

@include customScrollbar('.inner-card', 0.125rem, $scrollbar-thumb-color, $scrollbar-thumb-color, 1, $scrollbar-track-color);

.inner-card::-webkit-scrollbar-track {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.inner-card.card {
  font-family: Roboto, sans-serif;
  background-color: $sby-beige-1;
  border: 1px solid $sby-beige-2;
  border-radius: $card-border-radius;
  overflow: hidden;

  .card-header {
    padding: 0 0.75rem;
    border-color: $sby-beige-2;
    background-color: $sby-beige-2;
    min-height: 2.625rem;

    h3 {
      font-size: 0.875rem;
      font-weight: bold;
      font-style: normal;
    }
  }

  .card-body {
    border: none;
    padding: 0.625rem 0.75rem;

    .col {
      padding: 0;
    }

    .row {
      padding: 0;
      margin: 0;
    }

    a {
      overflow: hidden;

      h4 {
        font-size: 0.75rem;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 500;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    p {
      color: black;
      font-size: 0.625rem;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.02em;
      line-height: 120%;

      margin: 0;

      &.deadline {
        margin-right: 0.438rem;
      }

      &.empty {
        text-align: center;
        font-size: 0.75rem;
        line-height: 18px;
        letter-spacing: 0;
        color: $no-content-grey;

        margin-top: 0.528rem;
      }
    }

    strong {
      font-weight: bold;
    }

    svg {
      margin-right: 0.25rem;
    }

    hr {
      margin: 0.5rem 0;
    }
  }

  &.light {
    background-color: white;
    border: none;
    border-radius: 0;

    .card-body,
    .card-header {
      background-color: white;
      padding: 0.625rem 0;
    }

    .card-header {
      border-color: $light-grey-border-color;
      border-width: 0.031rem;
    }
  }

  &.scrollable {
    overflow-y: auto;
  }
}
