@import 'src/main/webapp/app/app';

.card.left-side-menu {
  height: max-content;
  padding: 1.438rem 1.5rem 1.375rem 1.188rem;

  input {
    border-color: $input-border;
    border-radius: $default-input-border-radius;

    &::placeholder {
      color: $input-placeholder-color-light;
    }
  }

  .menu-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $sby-gray-9;

    &.active {
      font-weight: bold;
    }
  }
}
