@import 'src/main/webapp/app/app';

@include customScrollbar('.criterions', 0.625rem, $sby-beige-3, $sby-beige-3);
@include customScrollbar('.criterion-level textarea', 0.625rem, $sby-beige-3, $sby-beige-3);

.rubric-overview-new {
  h5.view-title {
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
  }

  .criterions {
    overflow: auto;
  }
}
