@import 'src/main/webapp/app/app';

.mobile-menu {
  position: fixed;
  bottom: 0;
  margin-left: -0.938rem;
  margin-right: -0.938rem;
  z-index: 10;

  .mobile-menu-content {
    min-height: 4rem;
    flex-grow: 1;
    border-top: 0.063rem solid $border-color;

    .more-options {
      list-style: none;
    }
  }
}
