@import 'src/main/webapp/app/app';

.app-list-modal,
.app-config-modal {
  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
  }

  .lti-apps .list-footer footer {
    height: 100%;
    min-height: 9.875rem;
  }

  button.modal-close:hover {
    fill: black !important;
  }

  button.modal-close svg {
    fill: currentColor;

    path {
      fill: currentColor;
    }
  }

  button.modal-close {
    color: gray;
  }
}

.journey-apps {
  h3 {
    font-weight: normal;
  }
}

@include paddingBottomForMobileNav('.lti-apps');
