@import 'src/main/webapp/app/app';

.modal-dialog.journey-options {
  max-width: 31.25rem;
  margin-top: 6.875rem;

  h4 {
    line-height: 1.75rem;
  }

  .journey-options-content {
    border: none;
    width: 100%;

    .journey-option {
      cursor: pointer;
      border-radius: $card-border-radius;

      &.blocked {
        opacity: 0.6;
        cursor: not-allowed;

        .blocked-message {
          color: $sby-gray-8;
          font-size: 0.625rem;
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .modal-dialog.journey-options {
    margin-top: 8.922rem;

    h4 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .modal-dialog.journey-options {
    h4 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .modal-dialog.journey-options {
    margin-top: 10.922rem;

    .col-sm-6 {
      height: 14.938rem;
    }
  }
}
