@import 'src/main/webapp/app/app';

.invite-students-modal {
  max-width: 80vw !important;
  width: fit-content !important;

  .invite-students-modal-content.modal-content {
    margin-top: 6.188rem;
    background-color: white !important;
    width: max-content;

    border-radius: $card-border-radius;
    padding: 2.25rem;
    border: none;

    .modal-header > h3.modal-title {
      font-size: 1.125rem;
      font-weight: 700;

      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .modal-body {
      .row {
        align-items: end;
      }

      span.separator-text {
        height: 2rem;
        line-height: 2rem !important;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .invite-students-modal.modal-dialog {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;

    .invite-students-modal-content.modal-content {
      min-width: 100vw;
      min-height: 100vh;
      margin: 0;
      border-radius: 0;
      padding: 1.5rem;

      .modal-header {
        svg {
          width: 0.875rem;
          height: 0.875rem;
        }

        & > h3.modal-title {
          font-size: 1.5rem;
        }
      }

      .modal-body {
        img.illustration {
          width: 100%;
          max-height: 45vh;
        }

        .url-component {
          width: 100%;

          .url-input-container-new {
            width: 100%;
          }
        }
      }
    }
  }
}
